/* Site-nav + Kontakt-header + Kontakt-footer */
.site-nav .link,
.kontakt-header .link,
.footer__kontakt .link {
  color: $title-text-color;

  font-family: $main-font;
  font-style: $style-normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.kontakt-header .link:hover,
.kontakt-header .link:focus,
.footer__kontakt .link:hover,
.footer__kontakt .link:focus {
  color: $accent-color;
}

/* Site nav */
.site-nav .link.current {
  color: $accent-color;
}

.site-nav .box {
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
  position: absolute;
  top: 50px;
  right: 0;
}

.site-nav {
  width: 294px;
  margin-left: 93px;
}

/* Kontakt nav */
.kontakt-header .link {
  color: $primary-text-color;
}

.kontakt-header {
  width: 330px;
  margin-left: 305px;
}

/* Header icons */
.header-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icons .link {
  display: flex;
  align-items: center;
}

.kontakt-header .link:hover .header-icon,
.kontakt-header .link:focus .header-icon {
  fill: $accent-color;
  cursor: pointer;
}
